* {box-sizing: border-box}

body {background-image: url(/images/white-fabric.png);
	font-family: Georgia, Verdana, Tahoma, Arial;
	font-size: 13px}

.grid {display: grid; /*создаем grid контейнер*/
	grid-template-columns: 100px auto 100px; /*определяем столбцы grid сетки*/
	grid-template-rows: 100px auto; /*высота строк в grid контейнере*/
	gap: 10px; /*расстояние между ячейками в grid контейнере*/
	max-width: 1200px;
	grid-template-areas:
		"header header header";
	counter-reset: item;
	margin: 40px auto}

.item {background-image: url(/images/vintage-concrete.png);
	border-radius: 0.5em;
	counter-increment: item;
	padding: 10px;
	box-shadow: 0 0 8px black;

	&::after {content: counter(item)}
}

.header {background-color: lightblue; grid-column-start: 1/4;}

a {text-decoration: none; /*убираем подчеркивание текста ссылок*/
	line-height:30px; /*ровняем меню по вертикали*/
	text-align: center;
	background:#FF4444; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    display: block; border-radius: 7px;
	font-size: 10pt;}
a:hover {background:#D43737;/*добавляем эффект при наведении*/
	font-weight: bold; height: 70px; line-height:70px; border-radius: 10px}
