* {box-sizing: border-box}

body {background-image: url(/images/white-fabric.png);
	font-family: Georgia, Verdana, Tahoma, Arial;
	font-size: 13px; margin: 0}

.grid {display: grid; /*создаем grid контейнер*/
	grid-template-columns: 10px 200px auto 10px; /*определяем столбцы grid сетки*/
	grid-template-rows: 100px auto 50px; /*высота строк в grid контейнере*/
	gap: 10px; /*расстояние между ячейками в grid контейнере*/
	max-width: 1200px; background: green;
	height: 100vh; /*разтягиваем grid на весь экран по вертикали*/
	margin: auto; /*размещаем grid по центру экрана*/}

.totalTrack {grid-column: 1/5}
#top {background: red}
#leftGrid {grid-column: 2/3}
#main {grid-column: 3/4}

.v-menu {width: 150px; } /* Set a width if you like */
.v-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 5px; margin-bottom: 5px; height: 50px;/* Add some padding */
	text-decoration: none; /* Remove underline from links */
}

.v-menu a:hover {background-color: #ccc;} /* Dark grey background on mouse-over */

.v-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.mini-menu {
    margin: 0px auto;
    max-width: 220px;
    overflow: hidden;
    font: normal 14px Helvetica, Arial, sans-serif;}
.mini-menu ul {list-style: none;
    margin: 0; padding:0;}
.mini-menu > ul > li > a {
    display: block;
    text-decoration: none;
    outline: 0;
    padding: .7em 1em;
    color:#C9C9C9;
    font-weight: normal;
    background: #333;}
.mini-menu > ul > li > a:hover, .mini-menu > ul > li > a.active {color:#f2bd00;}

.mini-menu .sub > ul {
    display: none;
    overflow: hidden;
    background: #eee;}

.mini-menu .sub > ul > li > a {
    color:#514b92;
    display: block;
    font-size: 12px;
    text-decoration: none;
    padding: .7em 1em;}
.mini-menu .sub > ul > li > a:hover,
.mini-menu .sub > ul > li > a.active {
    background: #d8d8d8;
    color: red;
padding-left: 1.3em}
