* {box-sizing: border-box;}

body {background-image: url(/images/white-fabric.png); font-family: Georgia, Verdana, Tahoma, Arial;
	font-size: 13px}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	grid-auto-rows: 200px;
	gap: 20px;
	max-width: 1200px;
	counter-reset: item;
	margin: 40px auto;
}

.item {
	background-image: url(/images/vintage-concrete.png);
	border-radius: 0.5em;
	counter-increment: item;
	padding: 20px;
	box-shadow: 0 0 8px black;

	&::after {
		content: counter(item);
	}
}

.fa-square {text-shadow: 0 0 8px white}
